*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth ;
}
.body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/ai2.png') no-repeat;
    background-size: fill;
    background-position: center;
    background-attachment: fixed;
    background-color: black; 
}   

.logo{
    width: 80px ;
    height: 80px;
}

.detail{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: left;
}
.detail h1{
    margin-right: 60%;
    margin-top: 15%;
    font-size: 50px;
    color: White;
}
.detail p{  
    margin-right: 50%;
    margin-top: 15px;
    line-height: 25px ;
    color: white ;
}

.detail .login{
    box-sizing: border-box;
}

.detail .center button{
    margin-top: 12px;
    margin-left: -770%;      
    background: lime;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display:inline-block;
    border-radius: 5px;
    margin-bottom: 15%;
    cursor: pointer;
}
.detail .popup{
    position: absolute;
    top:-150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 300px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.detail .popup .active{
    top:50%;
    opacity:1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.detail .popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.detail .popup .form h2{
    text-align: center;
    color: black;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.detail .popup .form .form-element{
    margin:15px 0px;
}
.detail .popup .form .form-element label{
    font-size: 14px;
    color: black;
}
.detail .popup .form .form-element input[type="text"]
.detail .popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border:1px solid #aaa;
    border-radius: 5px;
}
.detail .popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.popup .form .form-element button{
    width:100%;
    height: 40px;
    border:none;
    outline:none;
    font-size: 16px;
    background: black;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}
.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: blue;
    text-decoration: none;
    font-weight: 600;
}
nav{
    position: fixed;
    display: flex;
    width:95%;
    margin:auto;
    padding:20px 0;
    align-items: center;
    justify-content: space-between;
    
}   

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
nav ul li a:hover{
    color:cyan;
}

.abt{
    border-top: 5px solid lightblue;
    text-align: left;
    font-size: 1.85rem;
    line-height: 1.5;
    background: black ;
    background-color: black;
    background-size: 100%;
    margin-bottom: 300px;
}
.container{
    margin-top: 10%;    
    margin-right: 10%;
    margin-left: 60%;
    color:white;
    background: black;
    background-color: black;
}
.container p{  
    float:right;
    margin-top: 20px;
    line-height: 25px ;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;   
    color: black;
}
  
.abt .team{
    margin-top: 5%;    
    margin-left: 10%;
    float: left;   
    background: black;
    
}
main{
    clear: both;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black,black 50%,rgb(68, 68, 68) 50%, rgb(68, 68, 68) 100%);
    color: black;
}
.bod2{

    width: 2000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.bod2 .services{
    position: relative;
    width:320px;
    background: white;
    padding: 100px 40px 60px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.bod2 .services :before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #ff226d;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
}


.bod2 .services h2{
    position: absolute;
    left: 40px;
    top:60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.bod2 .services h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color:darkslategrey;
    transition: 0.5s;
}
.bod2 .services p{
    position: relative; 
    z-index: 2;
    color:rgb(95, 94, 94);
    transition: 0.5s;
}

.works{
    bottom: -100px;
    position: relative;
    display: flex;
    width:100%;
    margin:auto;
    padding:0 px 0;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.works .container{
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}
.works .item:nth-child(even){
    flex-direction: row-reverse;
}
.works .image{
    float: left;
    clear: both;
}
.works .buttons{
    margin-top: 12px;     
    background: lime;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display:inline-block;
    border-radius: 5px;
    margin-bottom: 15%;
    cursor: pointer;
    text-decoration: none;
}
.hidden {
    opacity: 0%;
  }
  .back-to-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    width: 4rem;
    height:4rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #02324f;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
  }
footer{
  position: static;
  background: black;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.logo2{
    width: 40px ;
    height: 40px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: rgb(77, 77, 77);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: black;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
